/* .o, .n, .e, .m, .r, .t, .a, .s, .y, .l, .f, .u {
  font-family: Noto, serif;
  font-size: 120px;
  color: #45556b;
  font-weight: bold;
  margin-bottom: 0;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.o:hover, .n:hover, .e:hover, .m:hover, .r:hover, .t:hover, .a:hover, .s:hover, .y:hover, .l:hover, .f:hover, .u:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 20px rgba(247, 99, 0, 0.6);
  text-shadow: 5px 5px 20px rgba(247, 99, 0, 0.6);
} */


.one-more-treats {
  font-family: Noto, serif;
  font-size: 120px;
  color: #45556b;
  font-weight: bold;
  margin-bottom: 0;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.one-more-treats:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 20px rgba(247, 99, 0, 0.6);
  text-shadow: 5px 5px 20px rgba(247, 99, 0, 0.6);
}

.treat-yourself {
  display: flex;
  flex-direction: row;
  font-family: Noto, serif;
  font-size: 50px;
  color: #45556b;
  font-weight: bold;
  border: none;
  margin-bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.treat-yourself span {
  display: inline-block;
  animation: highlightEffect 1s ease-in-out infinite;
}

.treat-yourself span:nth-child(1) {
  animation-delay: 0s;
}

.treat-yourself span:nth-child(2) {
  animation-delay: 0.1s;
}

.treat-yourself span:nth-child(3) {
  animation-delay: 0.2s;
}

.treat-yourself span:nth-child(4) {
  animation-delay: 0.3s;
}

.treat-yourself span:nth-child(5) {
  animation-delay: 0.4s;
}

.treat-yourself span:nth-child(6) {
  animation-delay: 0.5s;
}

.treat-yourself span:nth-child(7) {
  animation-delay: 0.6s;
}

.treat-yourself span:nth-child(8) {
  animation-delay: 0.7s;
}

.treat-yourself span:nth-child(9) {
  animation-delay: 0.8s;
}

.treat-yourself span:nth-child(10) {
  animation-delay: 0.9s;
}

.treat-yourself span:nth-child(11) {
  animation-delay: 1s;
}

.treat-yourself span:nth-child(12) {
  animation-delay: 1.1s;
}

.treat-yourself span:nth-child(13) {
  animation-delay: 1.2s;
}